.form{
    margin-top: 100px;
    margin-bottom: 50px;
}
.input{
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    color: black;
}
.add-button{
    width: 100px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    background-color:skyblue;
}
.add-button:hover{
    background-color:plum;
    cursor: pointer;
}